@media only screen and (max-width: 600px) {
    .top-div-home{
        /* background-color: yellow; */
        padding: 10px 10px 10px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid grey;
    }
}